@using RadioMeti.Application.DTOs.Admin.Roles.Edit
@using RadioMeti.Application.DTOs.Enums
@model EditRoleDto
@{
    ViewData["Title"] = "Edit Role";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
 string title = "Edit Role";
        List<string> selectedClaims = ViewBag.selectedClaims as List<string>;
}
   
@section Scripts{
    <partial name="_JqueryValidator"/>
    <partial name="_CaptchaScripts"/>
}
<partial name="_AdminTitle" model="title" />

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Informations
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <form asp-area="Admin" asp-controller="Permission" asp-action="EditRole" method="post">
                             <partial name="_CaptchaInput" />
                             <input type="hidden" asp-for="Id"/>
                        <div class="form-group">
                            <label>User Name</label>
                            <input asp-for="RoleName" class="form-control">
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>  
                          @foreach (var item in Html.GetEnumSelectList<PermissionsSite>())
                        {
                            <div class="radio">
                                <label>
                                    <input value="@item.Text"
                                       type="checkbox"
                                       name="selectedClaims"
                                        @(selectedClaims!=null&&selectedClaims.Any(p=>p==item.Text.ToUpper())?"checked":" ")/>
                                    @item.Text
                                </label>
                            </div>
                        }
                        <div class="form-group">
                        <button type="submit" class="btn btn-info text-white w-100">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>




