@model RadioMeti.Application.DTOs.Account.ForgotPassword.ForgotPasswordDto
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
<partial name="_JqueryValidator" />
<partial name="_CaptchaScripts" />
}
<div class="mainContent" style="background: #fff">
            <div class="flexContainer center">
                <div class="formContainer1 forms">
                    <div class="panels">
                        <div class="leftPanel emptyState">
                        <i class="fa bi bi-file-lock2-fill"></i>
                        </div>
                        <div class="rightPanel">
                            <div class="titleContainer" style="margin-bottom: 20px">
                                <h2 class="title dark">Chnage Password on Radio Meti</h2>
                            </div>
                            <div id="rj_form_container">
                                <div id="rj_form">
                            <form asp-area="" asp-controller="Account" asp-action="ForgotPassword" class="parsley-validate" method="post">
                                <partial name="_CaptchaInput" />
                                <input asp-for="Email" type="email" placeholder="Email" />
                                <div asp-validation-summary="All" class="text-danger mb-3 fs-14 d-block"></div>
                                <div style="margin-top: 10px">
                                    <button type="submit" class=" button primaryButton inline">Log in</button>
                                    <div class="alert-box alert form_error twelve columns" style="display: none"></div>
                                </div>
                            </form>
                       </div>
                                
                            </div>
                            <div class="alert-box success form_success" style="display: none" id="form_success">
                                You're almost there. Check your email now for the confirmation and login details.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

