@using RadioMeti.Application.Utilities.Utils
@using RadioMeti.Domain.Entities.Music
@model List<Album>
@{
    ViewData["Title"] = "All-Albums";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 
  <div id="playlists" class="mainContent">
<div class="sectionTitle">
    <h2 class="title">All Prodcasts</h2>
</div>

<div class="grid">
    @if (Model != null && Model.Any())
    {
        foreach (var item in Model)
        {
              <a asp-area="" asp-controller="Music" asp-action="ShowAlbum"  asp-route-albumId="@item.Id" class="play_all">
        <img src="@(PathExtension.CoverAlbumThumbPath+item.Cover)" data-src="@(PathExtension.CoverAlbumThumbPath+item.Cover)" alt="'" class=" lazyloaded">
        <div class="songInfo">
            <span class="playlistName" title="Ghofli">@item.Title</span>
        </div>
    </a>
        }
    }
   
</div>
</div>

