<footer>
        <div id="bottomNav">
            <a href="/apps">Get RJ Apps</a>
            <a href="/premium">Premium</a>
            <a href="/contact">Contact</a>
            <a href="/ads">Advertise</a>
            <a href="https://radiojavan.store/" target="_blank">Store</a>
            <a href="https://radiojavan.zendesk.com/hc/en-us">Help</a>
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms</a>
            <a href="/about">About</a>
        </div>
        <p>&copy; 2022 by Radio Meti. All Rights Reserved.</p>
        <p>The largest source of Persian entertainment providing the best Persian and Iranian music 24/7</p>
    </footer>