<title>Radio Meti | @ViewData["Title"]</title>
<meta name="description" content="Exclusive and top songs. Radio Javan gives you the largest and best collection of Persian and Iran music for streaming. Listen to anything you like." />
<meta name="keywords" content="Persian Music, Iran Music, Download Persian Music, Free Iran Music, Iranian Music, Radio Javan, RadioJavan, Irani, Irani MP3s, Irani Free Download, Persian MP3s, Iran MP3s, Download Persian MP3s, Download Persian Free Music, Download Iran MP3s, Download Iran Music">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link rel="stylesheet" media="all" href="~/SiteTemplate/assets/css/notifications.css" />
<link rel="stylesheet" media="all" href="~/SiteTemplate/assets/css/main.css" />
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="D4tUl69uDjb6IPUjMFQgZLfexQn6vfXw7mEHewjgNbUE3UFZVbT6/S3nqRNh9PukzxNz6CMak0VDmqwQ6GDavg==" />
<meta property="fb:admins" content="12804121" />
<meta name="google-site-verification" content="kpSwwzWbWewSvLFybDFDoZDe_Y80wZkOqebcgeB6pgw" />
<link rel="icon" type="image/png" href="~/SiteTemplate/assets/images/favicon.webp" />

<link rel="apple-touch-icon" sizes="57x57" href="~/SiteTemplate/assets/images/rj-touch-icon-114.png" />

<link rel="apple-touch-icon" sizes="114x114" href="~/SiteTemplate/assets/images/rj-touch-icon-114.png" />

<link rel="apple-touch-icon" sizes="72x72" href="~/SiteTemplate/assets/images/rj-touch-icon-114.png" />

<link rel="apple-touch-icon" sizes="144x144" href="~/SiteTemplate/assets/images/rj-touch-icon-114.png" />
<link rel="mask-icon" href="/SiteTemplate/assets/images/rjicon.svg">
<meta name="apple-mobile-web-app-title" content="Radio Javan">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="theme-color" content="#000000">
<meta name="apple-mobile-web-app-status-bar-style" content="default">



<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" id="viewport">
<meta name="apple-itunes-app" content="app-id=286225933" />
<meta http-equiv="X-UA-Compatible" content="chrome=1" />
<link rel="search" type="application/opensearchdescription+xml" href="https://www.radiojavan.com/opensearch.xml" title="Radio Javan Search" />
<!--[if lte IE 8]>
    <link rel="stylesheet" media="all" href="/stylesheets/application-ie.css" />
<![endif]-->
<meta name="apple-mobile-web-app-title" content="Radio Javan">
<meta name="apple-mobile-web-app-capable" content="yes">

<link rel="stylesheet" type="text/css" href="~/SiteTemplate/assets/css/jquery-ui.min.css" />
<link rel="stylesheet"  href="~/lib/EasyAutocomplete/easy-autocomplete.min.css" />
<link rel="stylesheet" href="~/lib/EasyAutocomplete/easy-autocomplete.themes.min.css" />
<link rel="stylesheet" type="text/css" href="~/SiteTemplate/assets/css/radio.css" />
<link rel="stylesheet" type="text/css" href="~/SiteTemplate/assets/css/custom.css" />