<!DOCTYPE html>
<html>
<head>
<partial name="_HeaderRefrences"/>
  @RenderSection("Styles",false)
</head>
<body>
   @await Component.InvokeAsync("SiteHeader")
    @RenderBody()

@await Component.InvokeAsync("SiteFooter")
  <partial name="_FooterRefrences"/>
  <partial name="_SiteMessages" />
  @RenderSection("Scripts",false)
</body>
</html>
