@using RadioMeti.Application.DTOs.Admin.Event.Edit
@using RadioMeti.Domain.Entities.Music
@model EditEventDto
@{
    ViewData["Title"] = "EditEvent";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<Artist> artists = ViewBag.Artists;
    List<long> artistsEvent= ViewBag.ArtistsEvent;
    string title = "Edit Event";
}
@section Scripts{
<partial name="_JqueryValidator" />
<partial name="_CaptchaScripts" />
}
<partial name="_AdminTitle" model="title" />

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Informations
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <form id="filter-form" asp-area="Admin" asp-controller="Event" asp-action="EditEvent" method="post" enctype="multipart/form-data">
                        <partial name="_CaptchaInput" />
                        <input type="hidden" asp-for=Id/>
                        <input type="hidden" asp-for=Cover/>
                        <div class="form-group">
                            <label>Title</label>
                            <input asp-for="Title" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>HoldingTime</label>
                            <input asp-for="HoldingTime" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <input asp-for="Address" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Telephone</label>
                            <input asp-for="Telephone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>City</label>
                            <input asp-for="City" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>AgeLimit</label>
                            <input asp-for="AgeLimit" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>InformationPhone</label>
                            <input asp-for="InformationPhone" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>IsSlider</label>
                            <input asp-for="IsSlider" >
                        </div>
                        <div class="form-group">
                            <label>WhenOpen</label>
                            <input asp-for="WhenOpen" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>HoldingDate</label>
                            <input asp-for="HoldingDate" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea class="form-control" asp-for=Description>
                            </textarea>
                        </div>
                        <div class="form-group">
                            <label>Cover</label>
                            <input type="file" name="cover" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Artists</label>
                            <div class="searchable-select">
                         <select style="display:none" class="form-control " multiple name="selectedArtists">
                                @foreach (var item in artists)
                                {
                                        @if (artistsEvent.Any(p => p == item.Id))
                                        {
                                            <option selected value="@item.Id">@item.FullName</option>
                                        }
                                        else
                                        {
                                             <option value="@item.Id">@item.FullName</option>
                                        }
                                    }
                            </select>
                            </div>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-info text-white w-100">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>



