@using Microsoft.AspNetCore.Identity
@model RadioMeti.Application.DTOs.Admin.Users.Edit.EditUserDto
@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    List<IdentityRole> Roles = ViewBag.Roles;
    List<string> selectedRoles = ViewBag.selectedRoles;
    
  string title = "Edit User";
}
@section Scripts{
    <partial name="_JqueryValidator"/>
    <partial name="_CaptchaScripts"/>
}
<partial name="_AdminTitle" model="title" />

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Informations
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <form id="filter-form" asp-area="Admin" asp-controller="Users" asp-action="EditUser" method="post">
                             <partial name="_CaptchaInput" />
                             <input type="hidden" asp-for="Id"/>
                        <div class="form-group">
                            <label>User Name</label>
                            <input asp-for="UserName" class="form-control">
                        </div>  
                        <div class="form-group">
                            <label>Email</label>
                            <input asp-for="Email" class="form-control">
                        </div>  
                        @foreach (var item in Roles)
                        {
                            <div class="radio">
                                <label>
                                    <input value="@item.Name"
                                       type="checkbox"
                                       name="selectedRoles"
                                      @(selectedRoles!=null&&selectedRoles.Any(p=>p==item.Name)?"checked":" ")/>
                                    @item.Name
                                </label>
                            </div>
                        }
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                        <button type="submit" class="btn btn-info text-white w-100">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
