@using RadioMeti.Application.DTOs.Slider
@using RadioMeti.Application.Utilities.Utils
@model List<SiteSliderDto>
<div class="multiSliderContainer" style="display: none">
            <div class="slider-multi-item">
               
               @foreach (var item in Model)
               {
                    <a href="/music/@item.Id">
                    <img style="width:100%;height:280px" src="images/blank.gif" data-src="@item.Cover" alt="" class="lazyload" border="0" />
                    <div class="songInfo inline">
                        <span class="artist" title="Satin">@string.Join(" ft ",item.Artist) –</span>
                        <span class="song" title="Harmony">@item.Title</span>
                    </div>
                </a>
               }
            </div>
        </div>